---
import Layout from "../../layouts/Layout.astro";
---

<Layout title = "Canchero - Login usuario">
    <div class="w-full h-[100vh] bg-[url('/public/bg.jpg')] bg-no-repeat bg-cover flex items-center relative">
        <div class="h-full w-full absolute bg-black/40"></div>
        <div class="z-10 bg-white w-[390px] px-[45px] shadow-2xl m-auto rounded-3xl flex flex-col items-center">
            <h2 class="w-full text-3xl font-bold text-center m-[30px]">Login</h2>
            <form class="h-auto w-full" action="">
                <label class="text-[18px] ml-4" for="">Usuario</label>
                <input class="border-black border-2 border-solid mb-6 h-[40px] px-4 w-full rounded-3xl mt-1 shadow-2xl" type="text">
                <label class="text-[18px] ml-4" for="">Contraseña</label>
                <input class="border-black border-2 border-solid h-[40px] px-4 w-full rounded-3xl mt-1 shadow-2xl" type="password">
                <div class="w-full flex justify-center items-center">
                    <button class="mt-[70px] w-[200px] h-[45px] text-xl mx-auto rounded-3xl border-black border-2 border-solid hover:text-white hover:bg-[#297908] hover:border-none ">
                        Iniciar sesion
                    </button>
                </div>
                
            </form>
            <div class="h-[60px] w-full flex gap-3 items-end mb-[30px]">
                <div class="flex gap-3 items-center h-auto">
                    <p class="text-[15px]">¿Aun no estas registrado?</p>
                    <a class="text-blue-800 hover:font-bold text-xl " href="/login/registro">Registar</a>
                </div>
                
            </div>
        </div>
    </div>
</Layout>