---
import Perfil from "../../layouts/Perfil.astro"
import Horarios from "../../components/Horarios.astro"
---

<Perfil title="Reservas">
    <div>
        <form class="h-[70px] flex items-start">
            <input class="border-black border-[1px] h-[40px] w-[200px] rounded-[17.5px] px-[14px] mr-[30px]" type="date">
            <button class="w-[130px] h-[40px] text-[18px] rounded-3xl border-[#297908] border-2 border-solid hover:text-white hover:bg-[#297908] hover:border-none  font-bold shadow-lg">
                BUSCAR
            </button>

        </form>

        <div>
            <Horarios time="4:00 Pm"></Horarios>
            <Horarios time="5:00 Pm"></Horarios>
            <Horarios time="6:00 Pm"></Horarios>
            <Horarios time="7:00 Pm"></Horarios>
            <Horarios time="8:00 Pm"></Horarios>
            <Horarios time="9:00 Pm"></Horarios>
            <Horarios time="10:00 Pm"></Horarios>
        </div>
    </div>

    <script>
        const infoReserva = document.getElementById("infoReserva");
        const reservar = document.getElementById("reservar");

        infoReserva.addEventListener("click", function(){
            const url = "/perfilPropietario/info-reserva";
            const nombreVentana = "Informacion de la reserva";
            const opciones = "width=400,height=500,scrollbars=yes,resizable=yes";
            window.open(url, nombreVentana, opciones);
        });

        reservar.addEventListener("click", function(){
            const url = "/perfilPropietario/reservar";
            const nombreVentana = "Crear reserva";
            const opciones = "width=400,height=500,scrollbars=yes,resizable=yes";
            window.open(url, nombreVentana, opciones);
        });
    </script>
</Perfil>