---
---
<html>
    <body class="p-[30px] m-0 w-[400px] h-[500px] my-auto bg-[url('/bg.jpg')] bg-cover relative">
        <div class="-z-10 h-full w-full absolute bg-black/40 -m-[30px]"></div>
        <div class="z-10 bg-white border-[1px] flex flex-col justify-center py-[30px] border-neutral-400 w-full h-full rounded-2xl">
            <h1 class="mb-[50px] text-[25px] text-center font-bold">Crear reserva</h1>
            <form action="">
                <div class="flex h-[50px]">
                    <div class="w-[210px] h-[50px] flex items-center justify-center">
                        <label class="text-[16px] ml-4" for="">Nombres</label>
                    </div>
                    <div class="w-full h-[50px] flex items-center">
                        <input class="border-black border-2 border-solid h-[30px] px-4 w-[180px] rounded-3xl shadow-xl" type="text">
                    </div>      
                </div>

                <div class="flex h-[50px]">
                    <div class="w-[210px] h-[50px] flex items-center justify-center">
                        <label class="text-[16px] ml-4" for="">Telefono</label>
                    </div>
                    <div class="w-full h-[50px] flex items-center">
                        <input class="border-black border-2 border-solid h-[30px] px-4 w-[180px] rounded-3xl shadow-xl" type="text">
                    </div>      
                </div>

                <div class="flex h-[50px]">
                    <div class="w-[210px] h-[50px] flex items-center justify-center">
                        <label class="text-[16px] ml-4" for="">Abono/Pago</label>
                    </div>
                    <div class="w-full h-[50px] flex items-center">
                        <input class="border-black border-2 border-solid h-[30px] px-4 w-[180px] rounded-3xl shadow-xl" type="number">
                    </div>      
                </div>

                <div class="w-full flex justify-center mt-[50px]">
                    <button id="reservar" class="w-[130px] h-[40px] text-[18px] rounded-3xl text-white  bg-[#ff7316] hover:text-black hover:bg-white border-solid hover:border-2 border-[#ff8818]  font-bold shadow-lg">
                        RESERVAR
                    </button>
                </div>
                
            </form>
        </div>
    </body>
    
</html>