---
import Perfil from "../../layouts/Perfil.astro";
---

<Perfil title="Cuenta">
    <div class="w-full h-full text-[15px]">
        <div class="flex flex-col justify-start w-full h-[100px]">
            <h1 class="text-2xl font-bold mb-3">Informacion de la cuenta</h1>
            <p >Visualiza y actualiza la informacion de la cuenta, recuerda mantener tus datos actualizados.</p>
        </div> 

        <div class="w-full h-[90px] flex items-center justify-start border-solid">
            <h2 class="h-full w-[250px] flex justify-start items-center font-bold">Imagen de perfil</h2>
            <p class="w-[450px] h-full flex justify-start items-center">La imagen de perfil ayuda a personalizar tu cuenta</p>
            <a class="h-full w-[100px] flex items-center justify-center text-blue-800 font-bold" href="">Cambiar</a>
            <img src="/public/Eduardo.jpg" class="h-[70px] w-[70px] rounded-full ml-5" alt="">
        </div>

        <div class="w-full h-[70px] flex items-center justify-start border-solid  border-neutral-400 border-t">
            <h2 class="h-full w-[250px] flex justify-start items-center font-bold">Nombres</h2>
            <p class="w-[450px] h-full flex justify-start items-center">Eduardo José</p>
        </div>

        <div class="w-full h-[70px] flex items-center justify-start border-solid border-neutral-400 border-t">
            <h2 class="h-full w-[250px] flex justify-start items-center font-bold">Apellidos</h2>
            <p class="w-[450px] h-full flex justify-start items-center">Gutierrez De Piñerez Dizeo</p>
        </div>

        <div class="w-full h-[70px] flex items-center justify-start border-solid border-neutral-400 border-t">
            <h2 class="h-full w-[250px] flex justify-start items-center font-bold">Tipo de cuenta</h2>
            <p class="w-[450px] h-full flex justify-start items-center">Administrador</p>
        </div>

        <div class="w-full h-[70px] flex items-center justify-start border-solid border-neutral-400 border-t">
            <h2 class="h-full w-[250px] flex justify-start items-center font-bold">Correo electronico</h2>
            <p class="w-[450px] h-full flex justify-start items-center">edojose1518@gmail.com</p>
            <a class="h-full w-[100px] flex items-center justify-center text-blue-800 font-bold" href="">Cambiar</a>
        </div>

        <div class="w-full h-[70px] flex items-center justify-start border-solid border-neutral-400 border-t">
            <h2 class="h-full w-[250px] flex justify-start items-center font-bold">Numero de telefono</h2>
            <p class="w-[450px] h-full flex justify-start items-center">3135997282</p>
            <a class="h-full w-[100px] flex items-center justify-center text-blue-800 font-bold" href="">Cambiar</a>
        </div>

        <div class="w-full h-[70px] flex items-center justify-start border-solid border-neutral-400 border-t">
            <h2 class="h-full w-[250px] flex justify-start items-center font-bold">Contraseña</h2>
            <p class="w-[450px] h-full flex justify-start items-center">***********</p>
            <a class="h-full w-[100px] flex items-center justify-center text-blue-800 font-bold" href="">Cambiar</a>
        </div>

    </div>
</Perfil>