---
import Perfil from "../../layouts/Perfil.astro"
import Horarios from "../../components/horarios.astro"
---

<Perfil title="Reservas">
    <div>
        <div class="h-[70px] flex items-start">
            <input class="border-black border-[1px] h-[40px] w-[200px] rounded-[17.5px] pl-[14px] mr-[30px]" type="date">
            <button class="w-[130px] h-[40px] text-[18px] rounded-3xl text-white  bg-[#297908] hover:text-black hover:bg-white border-solid hover:border-2 border-[#297908]  font-bold shadow-2xl">BUSCAR</button>

        </div>

        <div>

        </div>

        <div>
            <Horarios time="4:00 Pm"></Horarios>
            <Horarios time="5:00 Pm"></Horarios>
            <Horarios time="6:00 Pm"></Horarios>
            <Horarios time="7:00 Pm"></Horarios>
            <Horarios time="8:00 Pm"></Horarios>
            <Horarios time="9:00 Pm"></Horarios>
            <Horarios time="10:00 Pm"></Horarios>

        </div>
    </div>
</Perfil>