---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="m-0 p-0">
		<nav class="w-full h-[65px] bg-white flex items-center pr-[40px] pl-[75px] border-b-[#297908]  border-[2px] 
					max-lg:pl-[30px] max-lg:h-[65px]
					max-md:pl-[10px]
		" >
			<div class="h-full w-[400px] flex items-center justify-center 
						max-sm:justify-start max-sm:ml-6 max-sm:w-[300px] max-sm:hidden
			"> 
				<p class="text-[#297908] text-3xl font-bold 
						max-lg:text-2xl 
						max-md:text-xl
						max-sm:hidden
				">Canchero</p>
			</div>
			<div class="h-[65px] w-full flex items-center gap-5 justify-end text-[#297908] font-semibold text-[16px]
						max-lg:gap-2 max-lg:text-[18px] max-lg:h-[65px]
						max-sm:justify-center max-sm:text-[15px]
			">
				<a class="hover:shadow-xl h-[35px] w-auto px-5 py-2 transition duration-300 hover:bg-[#297908] hover:text-white flex items-center justify-center rounded-xl
						max-md:px-2 
				" href="/">Inicio</a>
				<a class="hover:shadow-xl h-[35px] w-auto px-5 py-2 transition duration-300 hover:bg-[#297908] hover:text-white flex items-center justify-center rounded-xl
						max-md:px-2
				" href="/perfilUsuario/reservas">Reservas</a>
				<a class="hover:shadow-xl h-[35px] min-w-[140px] transition duration-300 px-5 py-2 hover:bg-[#297908] hover:text-white flex items-center justify-center rounded-xl
						max-md:px-2
				" href="/login">Login / Sing Up</a>
				<a class="hover:shadow-xl h-[60px] w-auto px-5 transition duration-300 hover:bg-[#297908] hover:text-white rounded-xl flex flex-col items-center justify-center text-[16px]
				" href="/perfilPropietario/cuenta">
					<img class="h-[30px] 
								max-sm:h-[30px]
					" src="/public/perfil.jpg" alt="">
					<p class=" max-sm:text-[14px]">Perfil</p>
				</a>
				<a href="/perfilPropietario/notificaciones" class="hover:shadow-xl h-[50px] w-auto px-2 transition duration-300 hover:bg-[#297908] hover:text-white rounded-xl flex flex-col items-center justify-center">
					<Icon size="32" name="mdi:notifications-none" />
				</a>
			</div>
		</nav>

		<slot />

		<footer class="w-full h-[120px] bg-[#297908] text-white flex items-center px-[90px] ">

		</footer>
	</body>
</html>