---

---
<html>
    <body class="p-[30px] m-0 w-[400px] h-[500px] my-auto bg-[url('/bg.jpg')] bg-cover relative">
        <div class="-z-10 h-full w-full absolute bg-black/40 -m-[30px]"></div>
        <div class="bg-white border-[1px] flex flex-col justify-center py-[30px] border-neutral-400 w-full h-full rounded-2xl">
            <h1 class="mb-[50px] text-[22px] text-center font-bold">Crear reserva</h1>
            <div class="flex gap-[10px] mx-auto">
                <h2 class="text-[17px] font-bold mb-[5px]">Valor X hora </h2>
                <p>$60000</p>
            </div>
            <p class="text-xs leading-4 text-center px-[20px]">transfiere un abono minimo de $10.000, o la totalidad del valor de la reserva al nequi: <span class="text-xm font-bold">3135997282</span></p>
            <form class="mt-[30px]" action="">
                <div class="flex mb-[30px]">
                    <div class="w-1/2 pl-[20px]">
                        <label class="text-[15px] font-bold" for="">Ingresa Pago/Abono</label>
                    </div>
                    <div class="w-1/2 text-center">
                        <input type="number" class="border-[#297908] border-[2px] h-[35px] w-[130px] rounded-[17.5px] pl-[14px] ">
                    </div>
                </div>

                <div class="pl-[20px]">
                    <div class="flex items-start">
                        <div class="w-3/5">
                            <label class="font-bold text-[15px] mb-[10px]" for="">Cargar soporte</label>
                        </div>
                        <p class="text-xs leading-3 text-center px-[20px]">Cargue el comprobante de la transferencia a continuacion.</p>
                    </div>
                    <input type="file" class="text-[12px] mt-[5px]">
                </div>
                
                <div class="text-center mt-[50px]">
                    <button class="w-[130px] h-[40px] text-[18px] rounded-3xl text-white  bg-[#ff7316] hover:text-black hover:bg-white border-solid hover:border-2 border-[#ff8818]  font-bold shadow-lg">
                        RESERVAR
                    </button>
                </div>
                
            </form>


        </div>
    </body>
</html>
